@page "/"
@inject  IJSRuntime JavaScript

<button class="btn btn-primary" @onclick=@HandleClick>Say Hello</button>

<PageTitle>Index</PageTitle>


@code {

    private async void HandleClick()
    {
        var message = await GetGreeting("Ashish");
        Alert(message);
    }

    private void Alert(string message)
    {
        JavaScript.InvokeVoidAsync("alert", message);
    }

    private ValueTask <string> GetGreeting(string name)
    {
        return JavaScript.InvokeAsync<string>("getGreeting", name);
    }
}
